@using ILabrary.ModelViews.Libraries
@model  LibraryLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<style>
    #Username {
        width: 300px;
    }
    #Password{
        width: 300px;
    }
    .field-validation-error{
        color: red
    }
</style>
<h1>Login</h1>

<form method="post" asp-action="Login">
    <fieldset style="        margin-left: auto;
        margin-right: auto;
        width: 500px">
        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-label">
            @Html.EditorFor(x => x.Username, new { style = "width: 200px" }) <br>
            @Html.ValidationMessageFor(x => x.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.PasswordFor(x => x.Password) <br>
            @Html.ValidationMessageFor(x => x.Password)
        </div>

        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="Login" />
        </p>
    </fieldset>
</form>