
@{
    ViewData["Title"] = "All users";
}
@using  ILabrary.ModelViews.Libraries
@using  ILabrary.Services.Libraries
@inject ILibrarySessionService libraryService
@model IEnumerable<LibraryUserViewModel>

<div class="test d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
    @if (TempData["deleted"] != null && (bool)TempData["deleted"])
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Done!</strong> The account has been deleted successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a asp-area="" asp-controller="LibraryUser" asp-action="Create" class="btn btn-sm btn-outline-secondary">
                <span data-feather="plus"></span>
            </a>
            <a asp-action="Index" asp-controller="LibraryUser" class="btn btn-sm btn-outline-secondary">
                <span data-feather="refresh-cw"></span>
            </a>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Username)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Email)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Phone)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(x => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(x => user.Username)@Html.Raw("@")@(libraryService.GetCurrentLibraryUniqueId())
                </td>
                <td>
                    @Html.DisplayFor(x => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(x => user.Phone)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = user.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                </td>
            </tr>
        }
    </tbody>
</table>